@import 'tailwindcss';
@import 'react-lazy-load-image-component/src/effects/blur.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101828;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

span.lazy-load-image-background:has(.w-full) {
  min-width: 100% !important;
}
